// _article.scss
@use '../base/variable' as v;


.article {
    width: 80%;
    margin: auto;
    margin-bottom: 2.5rem;

    &-header {
        font-size: 1rem;
        display: block;
        width: 100%;
        margin-bottom: 1.5rem;
        text-align: start;

        h2 {
            font-size: 2rem;
            color: v.$text-primary;
            text-align: start;
        }

        p {
            font-weight: bold;
            color: v.$text-primary;
        }
    }

    &-body {
        display: inline-block;
        width: 100%;
        height: auto;
        margin: auto;
        text-align: center;

        p {
            height: 100%;
            margin: auto;
            font-size: 1.5rem;
            text-align: justify;
            float: left;
            overflow: hidden;
            color: v.$text-primary;
            font-weight: 500;
        }

        img {
            display: none;
        }
    }

    &-end {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        color: v.$text-primary;
        margin-top: 1rem;

        a {
            font-size: 1.5rem;
            color: v.$text-primary;
            cursor: pointer;
        }
    }
}