// _cart.scss
@use '../base/variable' as v;

.cart {
    position: fixed;
    top: 0;
    left: calc(100% - 500px);
    width: 500px;
    height: 100vh;
    background-color: v.$text-primary;
    transition: 0.5s;
    color: v.$background-primary;
    font-size: 2rem;



    h2 {
        display: inline-block;
        margin-top: 150px;
        margin-left: 50px;
        color: v.$background-primary;

    }

    .checkout {
        position: absolute;
        bottom: 0px;
        height: 70px;
        width: 100%;
        font-weight: 500;
        display: grid;
        place-items: center;
        grid-auto-flow: column;
        grid-template:
            "total close"
            "checkout checkout"
        ;

        margin-bottom: 25px;
        font-size: 3rem;

        .total {
            grid-area: total;
        }

        #closeShopping {
            grid-area: close;
            font-size: 3rem;
            width: 100%;
        }

        .shopping {
            grid-area: checkout;
            font-size: 3rem;

        }

        #end-buy {
            cursor: pointer;
        }
    }

}

.close {
    left: calc(100% + 500px);
    transition: 2s;
}