// _popup.scss
@use '../base/variable' as v;

.popup {
    display: block;
    position: fixed;
    padding: 10px;
    width: 380px;
    left: 50%;
    margin-left: -150px;
    height: 200px;
    top: 50%;
    margin-top: -100px;
    background: #FFF;
    z-index: 2;
    -webkit-box-shadow: 0px 0px 0px 9999px rgba(0, 0, 0, 0.5);
    box-shadow: 0px 0px 0px 9999px rgba(0, 0, 0, 0.5);
    border-radius: 15px;
    text-align: center;
    font-size: 2rem;
    color: v.$text-primary;
    font-weight: 500;

    .btn-group {
        display: grid;
        grid-template-columns: 1fr 1fr;

        a,
        button {
            font-size: 1.5rem;
            width: 100%;
            height: 100%;

        }
    }

    table {
        width: 100%;
        border: 1px solid #999;

        caption,
        td,
        th {
            padding: 0.3em;
        }

        th,
        td {
            border-bottom: 1px solid #000;
            border-right: 1px solid #000;
        }
    }

}

.checkout {
    height: auto;
}

#popup-checkout {
    display: none;


    #closeCheckout{
        margin-top: 10px;
        font-size: 2rem;
    }
}