// _team-card.scss

@use '../base/variable' as v;


.team-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    margin-top: 2.5rem;

    .team-card {
        display: inline-block;
        margin: 0rem 2.5rem;

        img {
            width: 200px;
            height: 200px;
            object-fit: cover;
            border-radius: 100%;
            filter: contrast(1.2);
        }

        p {
            font-size: 2rem;
            text-align: center;
            color: v.$text-primary;

            &:nth-of-type(2) {
                font-size: 1.5rem;
                margin-bottom: 0;
            }

            &:nth-of-type(3) {
                font-size: 2.5rem;
                font-weight: bold;
                margin-bottom: 0;
            }
        }
    }

}