.team-container {

    .team-card {
        opacity: 0;
        animation: fadeTeam 2s forwards;

        &:nth-child(1) {
            animation-delay: 1s;

        }

        &:nth-child(2) {
            animation-delay: 2s;

        }

        &:nth-child(3) {
            animation-delay: 3s;
        }

        &:nth-child(4) {
            animation-delay: 4s;
        }


    }
}


@keyframes fadeTeam {
    0% {
        display: none;
        opacity: 0;
    }

    1% {
        display: block;
        opacity: 0;
    }

    100% {
        display: block;
        opacity: 1;
    }

}