// _resets.scss
@use './variable' as v;
@import './utility';

body {
    background-color: v.$background-secondary;
    font-family: 'Open Sans', sans-serif;

    &:-webkit-scrollbar {
        display: none;
    }

    ul {
        list-style: none;
    }

    a,
    button {
        color: v.$background-secondary;
        text-decoration: none;
        font-size: 2rem;
        cursor: pointer;
    }

    h1,
    h2,
    h3 {
        font-weight: bold;
        font-style: italic;
        color: v.$text-primary;
        font-size: 3.5rem;
    }

    box-icon,
    svg {
        @include icon-style;
    }

}