// _about-us.scss

@use '../base/variable' as v;



/*section team*/

.section-team {
    margin-top: 2.5rem;
    text-align: center;

    .team-body {
        display: flex;
        flex-direction: column;
        margin-top: 2.5rem;
        margin-bottom: 2.5rem;

        img {
            padding: 2rem;
            object-fit: cover;
            border-radius: 5rem;
            width: 100%;
        }

        p {
            font-size: 2rem;
            text-align: justify;
            overflow: hidden;
            padding: 2rem;
            color: v.$text-primary;
            width: 100%;
        }
    }

}