// _index.scss

@use '../base/variable' as v;

.header-container {
    background-color: v.$background-primary;
    padding: 2rem;
    border-bottom: 1px solid;

    .logo-box {
        display: flex;
        justify-content: center;
        align-items: center;

        .logo-img {
            width: 48px;
            height: 48px;
        }

        span {
            color: v.$text-primary;
            margin-left: 0.5rem;
            font-weight: bold;
            font-style: italic;
            font-size: 3.5rem;
        }
    }

    .header-menu {
        ul {

            li {

                a {
                    color: v.$text-primary;
                    text-decoration: none;
                    font-size: 2.2rem;
                    cursor: pointer;
                    font-weight: bold;
                }
            }
        }
    }
}

.card-container {

    //safari fix error nth-of-type
    div:nth-of-type(4) {
        display: none;
    }
}


.product-section h1,
.section-team h1,
section h1,
section h2 {
    text-align: center;
}

.product-section {
    display: block;
    width: 100%;
    margin: 2.5rem auto;
}